<p>
	Hi! I'm a first-year at UC Berkeley studying computer science and physics. I'm learning quantum computing and the beginning 
	of this radically new industry.
  </p>
  
  <p>
	Currently, I'm working on research at the
	<a href="https://interact.berkeley.edu/" target="_blank">InterACT lab<img src="assets/link.svg"/></a> 
	and teaching as an undergraduate student instructor for 
	<a href="https://www.eecs70.org/" target="_blank">CS 70<img src="assets/link.svg"/></a>.
	I also tinker with and teach machine learning with the wonderful community at 
	<a href="https://launchpad.berkeley.edu/" target="_blank">Launchpad<img src="assets/link.svg"/></a>.
  </p>
  
  <p>
	Recently, I was an intern at
	<a href="https://everydayrobots.com/" target="_blank">Everyday Robots<img src="assets/link.svg"/></a>, 
	where I worked on vision + language models for zero-shot object detection and played with robots in my free time. 
	Before that, my time was spent across various adventures in technology for autonomous vehicles and social good.
  </p>
  
  <p>
	When I get the chance, I love to 
	<a href="https://curius.app/michelle-pan" target="_blank">jump into internet rabbit holes<img src="assets/link.svg"/></a>, 
	<a href="https://behance.net/michelllepan" target="_blank">design<img src="assets/link.svg"/></a>, 
	and do New York Times crosswords with friends :)
  </p>