

<div class="icon-wrapper-outer">
    <div class="icon-wrapper-inner">
        <a href="https://github.com/curtisjhu" target="_blank">
            <img class="icon" src="assets/github.svg" style="margin-right: 5px;"/>
        </a>
    </div>
    
    <div class="icon-wrapper-inner">
        <a href="https://linkedin.com/in/curtisjhu" target="_blank">
            <img class="icon" src="assets/linkedin.svg" style="margin-right: 5px;"/>
        </a>
    </div>
    
    <div class="icon-wrapper-inner" style="width:20px;">
        <a href="" target="_blank">
            <img class="icon" src="assets/resume.svg"/>
        </a>
    </div>

    <div class="icon-wrapper-inner" style="width:20px;">
        <a href="https://www.instagram.com/funnyscar" target="_blank">
            <img class="icon" src="assets/instagram.svg"/>
        </a>
    </div>

    <div class="icon-wrapper-inner" style="width:20px;">
        <a href="https://www.youtube.com/@funnyscar" target="_blank">
            <img class="icon" src="assets/youtube.svg"/>
        </a>
    </div>


    <div class="icon-wrapper-inner">
        <a href="mailto: curtisjhu@berkeley.edu" target="_blank">
            <img class="icon" src="assets/email.svg"/>
        </a>
    </div>
</div>