<title>funnyscar graphics</title>
<meta
	name="description"
	content="Mathematics, physics, computer science. Exploring the world through math with a heavy emphasis on a visual intuition."
/>

<meta name='og:title' content='funnyscar' />
<meta name='og:url' content='http://www.funnyscar.com/' />
<meta name='og:image' content='https://bucket.funnyscar.com/logo.png' />
<meta name='og:site_name' content='funnyscar' />
<meta name='og:description' content='Mathematics, physics, computer science. Exploring the world through math with a heavy emphasis on a visual intuition.' />
<meta property="twitter:url" content="https://funnyscar.com/" />
<meta property="twitter:title" content="funnyscar" />
<meta
	property="twitter:description"
	content="Mathematics, physics, computer science. Exploring the world through math with a heavy emphasis on a visual intuition."
/>
<meta
	property="twitter:image"
	content="https://bucket.funnyscar.com/riemann-surfaces.png"
/>